.shop-content {
	&__wrapper {
		padding-bottom: 259px;
	}
	&__content {
		display: grid;
		grid-template-columns: 16.05% 83.19%;
		grid-gap: 10px;
	}
}

@media screen and (max-width: 991px) {
	.shop-content {
		&__content {
			grid-template-columns: 100%;
		}
	}
}

@media screen and (max-width: 767px) {
	.shop-content {
		&__wrapper {
			padding-bottom: 50px;
		}
	}
}
