.tabs {
	&-btn {
		& div {
			color: $gray-700;
			padding: 0.4167em 1.25em;
		}
		&_active {
			& div {
				color: $white;
				background: $lightblue-350;
			}
		}
	}
	&-container {
		@include flex(row, flex-start, center, wrap);
		gap: 10px;
	}
}

@media screen and (max-width: 767px) {
	.tabs {
		&-btn {
			& div {
				font-size: 1.8rem;
				line-height: calc(25 / 18);
				letter-spacing: -0.01em;
				padding: 0.556em 1.389em;
			}
		}
		&-container {
			gap: 5px;
		}
	}
}
