.insights {
	&-tabs {
		&__wrapper {
			padding-top: 72px;
		}
		&__content {
			max-width: 1076px;
			text-align: center;
			margin: 0 auto;
		}
		&__title {
			display: block;
			line-height: 1;
			margin-bottom: 65px;
		}
	}
}

@media screen and (max-width: 991px) {
	.insights {
		&-tabs {
			&__wrapper {
				padding-top: 100px;
				padding-bottom: 50px;
			}
			&__title {
				margin-bottom: 30px;
			}
		}
	}
}
