// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
	font-family: 'ProximaNova';
	src: font('ProximaNova-Bold.woff2') format('woff2'), font('ProximaNova-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: font('ProximaNova-Semibold.woff2') format('woff2'), font('ProximaNova-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: font('ProximaNova-Regular.woff2') format('woff2'), font('ProximaNova-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: font('ProximaNova-RegularItalic.woff2') format('woff2'), font('ProximaNova-RegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'ProximaNova';
	src: font('ProximaNova-Light.woff2') format('woff2'), font('ProximaNova-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
